* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.562), rgb(255, 78, 78));
}


#logoBOX {
    width: 30%;
    height: 100%;
    float: right;
    background-color: rgb(230, 226, 255);
}

#name_loge {
    padding: 0px 20px 0px 20px;
    float: left;
    line-height: 100px;
    color: rgba(0, 0, 0, 0.685);
    font-family: 'Adamina', serif;
}

#logo {
    width: 100px;
    height: 100%;
    border-radius: 50%;
}

nav {
    width: 70%;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
}

nav li {
    display: inline-block;
    line-height: 100px;
    width: 165px;
    text-align: center;
    font-family: 'Adamina', serif;
}

nav a:hover {
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 450px;
    background-color: rgb(220, 237, 252);
    border-top: 3px solid white;
    animation-name: change-background;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

aside {
    float: left;
    width: 35%;
    height: 100%;
    background-color: beige;
    text-align: center;
}

aside img {
    margin-top: 12px;
    width: 83%;
    height: 63%;
}
#image-fahd{
    border-radius: 20px;
}

aside h1 {
    width: 100%;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.685);
    display: inline-block;
    border-bottom: 2px solid rgb(248, 77, 77);
    font-family: 'Adamina', serif;
}

#contacet-box {
    display: flex;
    justify-content: center;
}

#contacet-box img {
    width: 50px;
    height: 50px;
    padding: 2px;
    padding-bottom:4px ;
    border-bottom: 3px solid rgb(248, 77, 77);
}

#contacet-box img:hover {
    width: 55px;
    height: 55px;
    border-bottom: 3px solid rgb(202, 0, 0);
}

@keyframes change-background {
    0% {
        background-color: rgba(0, 0, 0, 0.63);
    }
    25% {
        background-color: rgb(253, 80, 80);
    }
    50% {
        background-color: rgb(184, 33, 33);
    }
    75% {
        background-color: rgb(92, 14, 14);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.685);
    }
}

#article {
    float: right;
    width: 65%;
    height: 100%;
    position: relative;
}

#box {
    padding: 25px;
    position: absolute;
    width: 400px;
    height: 180px;
    background-color: rgb(245, 234, 234);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
}

#box h1 {
    border-bottom: 3px solid rgba(0, 0, 0, 0.685);
    padding: 12px 0px;
}

#box p {
    font-family: 'Source Code Pro', monospace;
    text-align: justify;
    padding: 15px;
}
#print{
    display: none;
}
footer{
    clear: both;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    text-align: center;
    height: 50px;
    color: white;
    line-height: 50px;
    font-family: 'Source Code Pro', monospace;
}
footer{
    margin: 3px 0px;
}
@media only screen and (min-width:940px) and (max-width:1070px) {
    #logoBOX {
        width: 35%;
        margin: 0px;
    }
}

@media only screen and (max-width:1023px) and  (min-width:834px) {
    nav {
        width: 60%;
        margin: 0px;
    }
    #logoBOX {
        width: 40%;
    }
    nav a {
        font-size: 15px;
    }
    nav li {
        width: 160px;
    }
}
@media only screen and (max-width:834px) and (min-width:715px) {
nav{
    width: 57%;
    margin: 0px;
}
#logoBOX{
    width: 43%;
}
nav a{
    font-size: 12.5px;
}
nav li{
    width: 129px;
}
#contacet-box img{
    width: 40px;
    height: 40px;
}
#contacet-box img:hover{
    width: 47px;
    height: 47px;
}
#box{
    padding: 0px;
    border-radius:15px ;
}
}
@media only screen and (max-width:715px){
    header, main {
        height: auto;
    }
    #logoBOX {
        width: 100%;
        text-align: center;
    }
    #name_loge, #logo {
        float: none;
    }
    #logo {
        width: 115px;
        height: 115px;
    }
    span a {
        text-decoration: none;
    }
    nav {
        width: 100%;
        text-align: center;
    }
    nav a {
        font-size: 18px;
    }
    nav li {
        display: block;
        width: 100%;
    }
    aside {
        width: 100%;
        height: 560px;
    }
    aside img {
        width: 80%;
        height: 380px;
        margin-top: 10px;
    }
    #contacet-box img {
        width: 58px;
        height: 58px;
        padding: 5px;
    }
    #contacet-box img:hover {
        width: 70px;
        height: 70px;
    }
    #article {
        margin-top: 3px;
        width: 100%;
        height: 250px;
        background-color: beige;
    }
    #box{
        width: 340px;
        margin-top: 10px;
        padding: 0px ;
    }

    
}
@media print{
    nav{
        display: none;
    }
    #logoBOX{
    width: 66%;
    }

    #print{
        display: block;
    }
}
